@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-primary-darker:#4C1D95;
    --color-primary-light : #F5F3FF;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.about-container {
    width: 60vw;
    height: 50vh;
    margin-left: 70px;
    padding: 80px 50px;
}

.about-container p {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: var(--color-primary-darker);
    margin-left: 10px;
    padding: 5px;
}

a:hover {
    background-color: var(--color-primary-light);
    border-radius: 2px;
}