<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Buttons | Purple CSS</title>
</head>
<body>
    <header>
        <div id="header-brand">
            <img id="header-img" src="../../jelly.svg" />
            <h1 class="div-heading" id="header-name">purplecss</h1>
        </div>
        <div class="header-links">
            <a href="../../index.html">Home</a>
            <a href="../../documentation.html">Docs</a>
            <a href="../../about.html">About</a>
        </div>
    </header>
    
    <div class="container-component-list">
        <ul class="component-list">
            <li class="component-list-item">
                <a class="component-link" href="../../index.html">Home</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../alert/alert.html">Alert</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../badge/badge.html">Badge</a>
            </li>
            <li class="component-list-item">
                <a class="component-link link-active" href="button.html">Button</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../card/card.html">Card</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../image/image.html">Image</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../input/input.html">Input</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../lists/lists.html">Lists</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../modal/modal.html">Modal</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../rating/rating.html">Rating</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../simplegrid/simplegrid.html">Simple Grids</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../slider/slider.html">Slider</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../textutilities/textutilities.html">Text Utilities</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../toast/toast.html">Toast</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <h1 class="div-heading">Primary Button</h1>
            <p>This can be used for all the buttons that the user will click on success.</p>
            <button class="button-primary">Click Me!</button>
            <button class="button-primary" style="background-color: #EC4899;">Click Me!</button>
            <button class="button-primary" style="background-color: #10B981;">Click Me!</button>
            <button class="button-primary" style="background-color: #F59E0B;">Click Me!</button>
            <button class="button-primary" style="background-color: #EF4444;">Click Me!</button>
            <button class="button-primary" style="background-color: #6B7280;">Click Me!</button>
            <br>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button-primary%2522%253E%2520Click%2520Me%21%2520%253C%252Fbutton%253E"
            style="width: 904px; height: 141px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>

            <hr>

            <h1 class="div-heading">Secondary Button</h1>
            <p>This can be used for all the buttons that the user will click on failure or otherwise.</p>
            <button class="button-secondary">Click Me!</button>
            <button class="button-secondary" style="border: 2px solid #EC4899;">Click Me!</button>
            <button class="button-secondary" style="border: 2px solid #10B981;">Click Me!</button>
            <button class="button-secondary" style="border: 2px solid #F59E0B;">Click Me!</button>
            <button class="button-secondary" style="border: 2px solid #EF4444;">Click Me!</button>
            <button class="button-secondary" style="border: 2px solid #6B7280;">Click Me!</button>
            <br>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button-secondary%2522%253E%2520Click%2520Me%21%2520%253C%252Fbutton%253E"
            style="width: 904px; height: 141px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>


            <hr>

    
            <h1 class="div-heading">Link Button</h1>
            <p>On click, this button will go to a link.</p>
            <button class="button-link">
                <a href="../../index.html">Home</a>
                <img class="button-link-image" src="uparrow.svg" />
            </button>
            <br>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522button-link%2522%253E%2520Your%2520link%2520here%2520%253C%252Fbutton%253E"
            style="width: 904px; height: 128px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>


            <hr>
    
            <h1 class="div-heading">Icon Buttons</h1>
            <h2>Empty Icons</h2>
            <button class="button-icon"><img src="home-unfilled.svg"/></button>
            <button class="button-icon"><img src="heart-unfilled.svg"/></button>
            <button class="button-icon"><img src="settings-unfilled.svg"/></button>
            <button class="button-icon"><img src="person-unfilled.svg"/></button>
            <button class="button-icon"><img src="done-unfilled.svg"/></button>
            <button class="button-icon"><img src="calendar-unfilled.svg"/></button>

            <h2>Filled Icons</h2>
            <button class="button-icon"><img src="home-filled.svg"/></button>
            <button class="button-icon"><img src="heart-filled-black.svg"/></button>
            <button class="button-icon"><img src="heart-filled-red.svg"/></button>
            <button class="button-icon"><img src="settings-filled.svg"/></button>
            <button class="button-icon"><img src="person-filled.svg"/></button>
            <button class="button-icon"><img src="done-filled.svg"/></button>
            <button class="button-icon"><img src="calendar-filled.svg"/></button>

            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cbutton%2520class%253D%2522button-icon%2522%253E%2520Add%2520your%2520icon%2520here%2520%253C%252Fbutton%253E"
            style="width: 904px; height: 128px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>

            <hr>
    
            <h1 class="div-heading">Floating Action Buttons</h1>
            <p>These buttons stay fixed on the screen at a particular position.</p>
            <p>The home button on the bottom right of the screen is an example of this button.</p>
            <button class="button-floating">
                <a href="../../index.html">
                    <img class="button-floating-image" src="home.svg" />
                </a>
            </button>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button-floating%2522%253E%250A%2520%2520%2520%2520%253Ca%2520href%253D%2522..%252F..%252Findex.html%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522button-floating-image%2522%2520src%253D%2522home.svg%2522%2520%252F%253E%250A%2520%2520%2520%2520%253C%252Fa%253E%250A%253C%252Fbutton%253E"
            style="width: 904px; height: 215px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>
    
</body>
</html>