<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Slider | Purple CSS</title>
</head>
<body>
    <header>
        <div id="header-brand">
            <img id="header-img" src="../../jelly.svg" />
            <h1 id="header-name">purplecss</h1>
        </div>
        <div class="header-links">
            <a href="../../index.html">Home</a>
            <a href="../../documentation.html">Docs</a>
            <a href="../../about.html">About</a>
        </div>
    </header>
    
    <div class="container-component-list">
        <ul class="component-list">
            <li class="component-list-item">
                <a class="component-link" href="../../index.html">Home</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../alert/alert.html">Alert</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../badge/badge.html">Badge</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../button/button.html">Button</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../card/card.html">Card</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../image/image.html">Image</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../input/input.html">Input</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../lists/lists.html">Lists</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../modal/modal.html">Modal</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../rating/rating.html">Rating</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../simplegrid/simplegrid.html">Simple Grids</a>
            </li>
            <li class="component-list-item">
                <a class="component-link link-active" href="slider.html">Slider</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../textutilities/textutilities.html">Text Utilities</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../toast/toast.html">Toast</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <h1 class="div-heading">Simple Sliders</h1>
            <p>Simple slider of different widths. This is a default slider.</p>
            <div class="slider-container">
                <input type="range" min="1" max="50" class="slider-100">
                <input type="range" min="1" max="50" class="slider-75">
                <input type="range" min="1" max="50" class="slider-50">
                <br>
                <input type="range" min="1" max="50" class="slider-25">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-100%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-75%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-50%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-25%2522%253E"
                style="width: 904px; height: 188px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr>

                <h1 class="div-heading">Square Sliders</h1>
                <p>Wider and bigger than the default slider</p>
                <input type="range" min="1" max="50" class="slider slider-square slider-100">
                <input type="range" min="1" max="50" class="slider slider-square slider-75">
                <input type="range" min="1" max="50" class="slider slider-square slider-50">
                <br>
                <input type="range" min="1" max="50" class="slider slider-square slider-25">

                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-square%2520slider-100%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-square%2520slider-75%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-square%2520slider-50%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-square%2520slider-25%2522%253E"
                style="width: 904px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <hr>

                <h1 class="div-heading">Circular Sliders</h1>
                <p>Like the square sliders, but with rounder edges</p>
                <input type="range" min="1" max="50" class="slider slider-circular slider-100">
                <input type="range" min="1" max="50" class="slider slider-circular slider-75">
                <input type="range" min="1" max="50" class="slider slider-circular slider-50">
                <br>
                <input type="range" min="1" max="50" class="slider slider-circular slider-25">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-circular%2520slider-100%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-circular%2520slider-75%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-circular%2520slider-50%2522%253E%250A%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%252250%2522%2520class%253D%2522slider%2520slider-circular%2520slider-25%2522%253E"
                style="width: 904px; height: 300px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>


            </div>
        </div>
    </div>
</body>
</html>