<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Badge | Purple CSS</title>
</head>
<body>
    <header>
        <div id="header-brand">
            <img id="header-img" src="../../jelly.svg" />
            <h1 id="header-name">purplecss</h1>
        </div>
        <div class="header-links">
            <a href="../../index.html">Home</a>
            <a href="../../documentation.html">Docs</a>
            <a href="../../about.html">About</a>
        </div>
    </header>
    
    <div class="container-component-list">
        <ul class="component-list">
            <li class="component-list-item">
                <a class="component-link" href="../../index.html">Home</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../alert/alert.html">Alert</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-list-item">
                <a class="component-link link-active" href="badge.html">Badge</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../button/button.html">Button</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../card/card.html">Card</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../image/image.html">Image</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../input/input.html">Input</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../lists/lists.html">Lists</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../modal/modal.html">Modal</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../rating/rating.html">Rating</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../simplegrid/simplegrid.html">Simple Grids</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../slider/slider.html">Slider</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../textutilities/textutilities.html">Text Utilities</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../toast/toast.html">Toast</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <h1 class="div-heading">Basic Badges</h1>
            <p>Basic badges in different colors.</p>
            <span class="badge badge-basic">Badge</span>
            <span class="badge badge-basic" style="background-color: #FBCFE8; color: #EC4899;">Badge</span>
            <span class="badge badge-basic" style="background-color: #A7F3D0; color: #047857;">Badge</span>
            <span class="badge badge-basic" style="background-color: #FEF3C7; color: #D97706;">Badge</span>
            <span class="badge badge-basic" style="background-color: #FECACA; color:  #EF4444;">Badge</span>
            <span class="badge badge-basic" style="background-color: #E5E7EB; color: #374151;">Badge</span>
            <br>

            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cspan%2520class%253D%2522badge%2520badge-basic%2522%253EBadge%253C%252Fspan%253E"
            style="width: 904px; height: 128px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>

            <hr>
    
            <h1 class="div-heading">Square Badges</h1>
            <p>Square badges in different colors with rounded edges.</p>
            <span class="badge badge-square">Badge</span>
            <span class="badge badge-square" style="background-color: #FBCFE8; color: #EC4899;">Badge</span>
            <span class="badge badge-square" style="background-color: #A7F3D0; color: #047857;">Badge</span>
            <span class="badge badge-square" style="background-color: #FEF3C7; color: #D97706;">Badge</span>
            <span class="badge badge-square" style="background-color: #FECACA; color:  #EF4444;">Badge</span>
            <span class="badge badge-square" style="background-color: #E5E7EB; color: #374151;">Badge</span>
            <br>

            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cspan%2520class%253D%2522badge%2520badge-square%2522%253EBadge%253C%252Fspan%253E"
            style="width: 904px; height: 128px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>

            <hr>

            <h1 class="div-heading">Large Badges</h1>
            <p>Basic badges, but larger.</p>
            <span class="badge badge-basic badge-large">Badge</span>
            <span class="badge badge-basic badge-large" style="background-color: #FBCFE8; color: #EC4899;">Badge</span>
            <span class="badge badge-basic badge-large" style="background-color: #A7F3D0; color: #047857;">Badge</span>
            <span class="badge badge-basic badge-large" style="background-color: #FEF3C7; color: #D97706;">Badge</span>
            <span class="badge badge-basic badge-large" style="background-color: #FECACA; color:  #EF4444;">Badge</span>
            <span class="badge badge-basic badge-large" style="background-color: #E5E7EB; color: #374151;">Badge</span>
            <br>

            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cspan%2520class%253D%2522badge%2520badge-basic%2520badge-large%2522%253EBadge%253C%252Fspan%253E"
            style="width: 904px; height: 128px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>

            <hr>

            <h1 class="div-heading">Avatars with Badge</h1>
            <div id="avatar-notification-container">
                <span id="avatar-notification-badge"></span>
                <img class="avatar-circular avatar-medium" src="../avatar/nr.png"/>
            </div>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cdiv%2520id%253D%2522avatar-notification-container%2522%253E%250A%2520%2520%2520%2520%253Cspan%2520id%253D%2522avatar-notification-badge%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar-circular%2520avatar-medium%2522%2520src%253D%2522nr.png%2522%252F%253E%250A%253C%252Fdiv%253E"
            style="width: 904px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>

            <hr>

            <h1 class="div-heading">Icons with Badge</h1>
            <div id="avatar-notification-container">
                <span id="icon-notification-badge"></span>
                <img class="button-icon" src="../button/person-filled.svg"/>
            </div>
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=17px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=1x&wm=false&code=%253Cdiv%2520id%253D%2522avatar-notification-container%2522%253E%250A%2520%2520%2520%2520%253Cspan%2520id%253D%2522icon-notification-badge%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522button-icon%2522%2520src%253D%2522person.svg%2522%252F%253E%250A%253C%252Fdiv%253E"
            style="width: 904px; height: 188px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>


        </div>
    </div>
</body>
</html>