<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Text Utilities | Purple CSS</title>
</head>
<body>
    <header>
        <div id="header-brand">
            <img id="header-img" src="../../jelly.svg" />
            <h1 id="header-name">purplecss</h1>
        </div>
        <div class="header-links">
            <a href="../../index.html">Home</a>
            <a href="../../documentation.html">Docs</a>
            <a href="../../about.html">About</a>
        </div>
    </header>
    
    <div class="container-component-list">
        <ul class="component-list">
            <li class="component-list-item">
                <a class="component-link" href="../../index.html">Home</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../alert/alert.html">Alert</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../badge/badge.html">Badge</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../button/button.html">Button</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../card/card.html">Card</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../image/image.html">Image</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../input/input.html">Input</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../lists/lists.html">Lists</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../modal/modal.html">Modal</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../rating/rating.html">Rating</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../simplegrid/simplegrid.html">Simple Grids</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../slider/slider.html">Slider</a>
            </li>
            <li class="component-list-item">
                <a class="component-link link-active" href="textutilities.html">Text Utilities</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../toast/toast.html">Toast</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <h1 class="div-heading">Headings</h1>
            <p>HTML Headings h1 to h6 look like this:</p>
            <h1> This is h1 text </h1>
            <h2> This is h2 text </h2>
            <h3> This is h3 text </h3>
            <h4> This is h4 text </h4>
            <h5> This is h5 text </h5>
            <h6> This is h6 text </h6>
        </div>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253E%2520This%2520is%2520h1%2520text%2520%253C%252Fh1%253E%250A%253Ch2%253E%2520This%2520is%2520h2%2520text%2520%253C%252Fh2%253E%250A%253Ch3%253E%2520This%2520is%2520h3%2520text%2520%253C%252Fh3%253E%250A%253Ch4%253E%2520This%2520is%2520h4%2520text%2520%253C%252Fh4%253E%250A%253Ch5%253E%2520This%2520is%2520h5%2520text%2520%253C%252Fh5%253E%250A%253Ch6%253E%2520This%2520is%2520h6%2520text%2520%253C%252Fh6%253E"
            style="width: 904px; height: 234px; border:0; transform: scale(1); overflow:visible;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Paragraphs</h1>
            <p>Paragraphs can be written inside the p Tag. This wraps around the edge of the screen, like this:</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%253E%2520Paragraphs%2520can%2520be%2520written%2520inside%2520the%2520p%2520Tag.%2520This%2520wraps%2520around%2520the%2520edge%2520of%2520the%2520screen%252C%2520like%2520this%2520%253C%252Fp%253E"
        style="width: 904px; height: 159px; border:0; transform: scale(1); overflow:visible;"
        sandbox="allow-scripts allow-same-origin">
        </iframe>        
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Text in different sizes</h1>
            <p>This is a sentence with normal sized text in it. It is written inside the p tag.</p>
            <small>This is a sentence with smaller text in it. It is written inside the small tag.</small>
        </div>
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%253E%2520This%2520is%2520a%2520sentence%2520with%2520normal%2520sized%2520text%2520in%2520it.%2520It%2520is%2520written%2520inside%2520the%2520p%2520tag.%2520%253C%252Fp%253E%250A%253Csmall%253E%2520This%2520is%2520a%2520sentence%2520with%2520smaller%2520text%2520in%2520it.%2520It%2520is%2520written%2520inside%2520the%2520small%2520tag.%2520%253C%252Fsmall%253E"
        style="width: 904px; height: 200px; border:0; transform: scale(1); overflow:visible;"
        sandbox="allow-scripts allow-same-origin">
        </iframe>

        
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Colored Text</h1>
            <p class="text-red">This is some error text.</p>
            <p class="text-warning">This is some warning text.</p>
            <p class="text-gray">This is some gray text.</p>
            
        </div>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-red%2522%253EThis%2520is%2520some%2520error%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-warning%2522%253EThis%2520is%2520some%2520warning%2520text.%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-gray%2522%253EThis%2520is%2520some%2520gray%2520text.%253C%252Fp%253E"
            style="width: 904px; height: 178px; border:0; transform: scale(1); overflow:visible;"
            sandbox="allow-scripts allow-same-origin">
            </iframe>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Centered Text</h1>
            <p>The following text is centered on the screen.</p>
            <p class="text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
        </div>
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=24px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-centered%2522%253E%2520Enter%2520your%2520text%2520here.%2520It%2520will%2520be%2520centered%2520on%2520the%2520screen.%2520%253C%252Fp%253E"
        style="width: 904px; height: 160px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
        </iframe>

    </div>
    
</body>
</html>